.slick-next{
    z-index: 99;
    
    &::before{
        color: black;
        font-size: 30px;
    }
}

.slick-prev{
    z-index: 99;
    &::before{
        color: black;
        font-size: 30px;

    }
}

.slideBox{
    margin-left: 30px;
}